/* VARIABLES */
:root {
    --header_element_height: 100px;
    --header_element_width: 100%;
    --header_border_radius: 20px;
    --header_element_expanded_width: 455%;
    --header_element_expanded_height1: 400%;
    --header_element_expanded_height2: 400%;
    --header_element_expanded_height3: 400%;
    --header_element_expanded_height4: 400%;
    --header_yoffset_factor: 1.2;
    --button_flex_ratio: 1;
    --text_flex_ratio: 5;
    --offset_percentage: 20%;
}

/* WHOLE DOC */
* {
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Courier Prime', monospace;
    /* background-color: grey; */
}

/* INTRODUCTION */
.introduction {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

/* SPACER */
.spacer {
    height: 75px;
}

/* FOOTER */
/* footer {
    background-color: grey;
} */

/* MAIN BODY */
.mainBody {
    display: flex;
    /* background-color: darkgrey; */
    margin-left: 5%;
    margin-right: 5%;
}

/* TEXT SECTION */

.textSection {
    flex: var(--text_flex_ratio);
    /* background-color: rgba(255, 0, 0, 0.2); */
    position: relative;
    color: white;
}

.catHeading {
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: center;
}

.catBody {
    text-align: justify;
    margin-left: 10%;
    margin-right: 5%;
}

/* .textSection__content {
    position: absolute;
} */

.about {
    position: absolute;
}

.projects {
    position: absolute;
}

.experience {
    position: absolute;
}

.contact {
    position: absolute;
}

.grandparent {
    flex: var(--button_flex_ratio);
    background-color: hsla(200, 100%, 20%);
    height: var(--header_element_height);
    position: relative;
    /* margin: 5% 10% 5% 10%; */
    /* width: 400px; */
}

/* parent */

.parentLabel {
    float: left;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
    height: 18px;
}

.parent-1 {
    background-color: darkred;
    height:100%;
    width: var(--header_element_width);
    position: absolute;
    /* left: 0%; */
    text-align: center;
    border-radius: var(--header_border_radius);
}

.parent-2 {
    background-color: gold;
    height:100%;
    width: var(--header_element_width);
    position: absolute;
    left:0%;
    top: calc(100% + var(--offset_percentage));
    border-radius: var(--header_border_radius);
}

.parent-3 {
    background-color: darkgreen;
    height:100%;
    width: var(--header_element_width);
    position: absolute;
    left:0%;
    top: calc(200% + calc(2 * var(--offset_percentage)));
    border-radius: var(--header_border_radius);
}

.parent-4 {
    background-color: darkblue;
    height:100%;
    width: var(--header_element_width);
    position: absolute;
    left: 0%;
    top: calc(300% + calc(3 * var(--offset_percentage)));
    border-radius: var(--header_border_radius);
}

/* parent-child */

.parent-1__child {
    background-color: #0B0B0D;
    height:100%;
    width: 100%;
    position: absolute;
    left: 0%;
    border-radius: var(--header_border_radius);
} 

.parent-2__child {
    background-color: #03658C;
    height:100%;
    width: 100%;
    position: absolute;
    border-radius: var(--header_border_radius);
}

.parent-3__child {
    background-color: #1C3640;
    height:100%;
    width: 100%;
    position: absolute;
    border-radius: var(--header_border_radius);
}

.parent-4__child {
    background-color: #56593C;
    height:100%;
    width: 100%;
    position: absolute;
    border-radius: var(--header_border_radius);
}

/* ACTIVATED  */

.parent-1Activated .parent-1__child {
     animation: up-to-down-then-expand-parent-1__child 1s ease-in-out forwards;
}

@keyframes up-to-down-then-expand-parent-1__child {
    0% {
        left: 0%;
        width: 100%; 
        height: 100%;
    }
    50% {
        left: calc(100% + var(--offset_percentage));
        width: 100%; 
        height: 100px;
    }
    100% {
    left: calc(100% + var(--offset_percentage));
     width: calc(100% * var(--text_flex_ratio) - var(--offset_percentage));   
     height: var(--header_element_expanded_height1);
    }
}

.parent-2Activated .parent-2__child {
    animation: up-to-down-then-expand-parent-2__child 1s ease-in-out forwards;
}

@keyframes up-to-down-then-expand-parent-2__child {
    0% {
        left: 0%;
    }
   50% {
       left: calc(100% + var(--offset_percentage));
       width: 100%; 
       height: 100%;
       top: 0%;
   }
   100% {
   left: calc(100% + var(--offset_percentage));
   top: calc(-100% - var(--offset_percentage));
    width: calc(100% * var(--text_flex_ratio) - var(--offset_percentage));   
    height: var(--header_element_expanded_height2);
   }
}

.parent-3Activated .parent-3__child {
    animation: up-to-down-then-expand-parent-3__child 1s ease-in-out forwards;
}

@keyframes up-to-down-then-expand-parent-3__child {
    0% {
        left: 0%;
    }
   50% {
       left: calc(100% + var(--offset_percentage));
       width: 100%; 
       height: 100%;
       top: 0%;
   }
   100% {
   left: calc(100% + var(--offset_percentage));
   top: calc(-200% - calc(var(--offset_percentage)*2));
    width: calc(100% * var(--text_flex_ratio) - var(--offset_percentage));   
    height: var(--header_element_expanded_height3);
   }
}

.parent-4Activated .parent-4__child {
    animation: up-to-down-then-expand-parent-4__child 1s ease-in-out forwards;
}

@keyframes up-to-down-then-expand-parent-4__child {
    0% {
        left: 0%;
    }
   50% {
       left: calc(100% + var(--offset_percentage));
       width: 100%; 
       height: 100%;
       top: 0%;
   }
   100% {
   left: calc(100% + var(--offset_percentage));
   top: calc(-300% - calc(var(--offset_percentage)*3));
    width: calc(100% * var(--text_flex_ratio) - var(--offset_percentage));   
    height: var(--header_element_expanded_height4);
   }
}

/* DISACTIVATED  */

.parent-1DisActivated .parent-1__child {
    animation: up-to-down-then-expand-reverse-parent-1__child 1s ease-in-out reverse;
}

@keyframes up-to-down-then-expand-reverse-parent-1__child {
    0% {
        left: 0%;
        width: 100%; 
        height: 100%;
    }
   50% {
    left: calc(100% + var(--offset_percentage));
    width: 100%; 
    height: 100%;
   }
   100% {
    left: calc(100% + var(--offset_percentage));
    width: calc(100% * var(--text_flex_ratio) - var(--offset_percentage));   
    height: var(--header_element_expanded_height1);
   }
} 


.parent-2DisActivated .parent-2__child {
    animation: up-to-down-then-expand-reverse-parent-2__child 1s ease-in-out reverse;
}

@keyframes up-to-down-then-expand-reverse-parent-2__child {
    0% {
        left: 0%;
    }
   50% {
       left: calc(100% + var(--offset_percentage));
       width: 100%; 
       height: 100%;
       top: 0%;
   }
   100% {
   left: calc(100% + var(--offset_percentage));
   top: calc(-100% - var(--offset_percentage));
    width: calc(100% * var(--text_flex_ratio) - var(--offset_percentage));   
    height: var(--header_element_expanded_height2);
   } 
}

.parent-3DisActivated .parent-3__child {
    animation: up-to-down-then-expand-reverse-parent-3__child 1s ease-in-out reverse;
}

@keyframes up-to-down-then-expand-reverse-parent-3__child {
    0% {
        left: 0%;
    }
   50% {
       left: calc(100% + var(--offset_percentage));
       width: 100%; 
       height: 100%;
       top: 0%;
   }
   100% {
   left: calc(100% + var(--offset_percentage));
   top: calc(-200% - calc(var(--offset_percentage)*2));
    width: calc(100% * var(--text_flex_ratio) - var(--offset_percentage));   
    height: var(--header_element_expanded_height3);
   }
} 

.parent-4DisActivated .parent-4__child {
    animation: up-to-down-then-expand-reverse-parent-4__child 1s ease-in-out reverse;
}

@keyframes up-to-down-then-expand-reverse-parent-4__child {
    0% {
        left: 0%;
    }
   50% {
       left: calc(100% + var(--offset_percentage));
       width: 100%; 
       height: 100%;
       top: 0%;
   }
   100% {
   left: calc(100% + var(--offset_percentage));
   top: calc(-300% - calc(var(--offset_percentage)*3));
    width: calc(100% * var(--text_flex_ratio) - var(--offset_percentage));   
    height: var(--header_element_expanded_height4);
   }
}